.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  min-height: 100vh;
}

.container-inner {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 600px;
}
